In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
path1="C:\\Users\\Personal\\Downloads\\X_train.csv"
X_train=pd.read_csv(path1)
print(X_train.head())

path2="C:\\Users\\Personal\\Downloads\\Y_train.csv"
Y_train=pd.read_csv(path2)
print(Y_train.head())

path3="C:\\Users\\Personal\\Downloads\\X_test.csv"
X_test=pd.read_csv(path3)
print(X_test.head())

path4="C:\\Users\\Personal\\Downloads\\Y_test.csv"
Y_test=pd.read_csv(path4)
print(Y_test.head())

    Loan_ID Gender Married Dependents Education Self_Employed  \
0  LP001032   Male      No          0  Graduate            No
1  LP001824   Male     Yes          1  Graduate            No
2  LP002928   Male     Yes          0  Graduate            No
3  LP001814   Male     Yes          2  Graduate            No
4  LP002244   Male     Yes          0  Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             4950                0.0         125               360
1             2882             1843.0         123               480
2             3000             3416.0          56               180
3             9703                0.0         112               360
4             2333             2417.0         136               360

   Credit_History Property_Area
0               1         Urban
1               1     Semiurban
2               1     Semiurban
3               1         Urban
4               1         Urban
  Target
0      Y
1      Y
2      Y
3      Y
4      Y
    Loan_ID  Gender Married Dependents     Education Self_Employed  \
0  LP002684  Female      No          0  Not Graduate            No
1  LP001907    Male     Yes          0      Graduate            No
2  LP001205    Male     Yes          0      Graduate            No
3  LP001275    Male     Yes          1      Graduate            No
4  LP002455    Male     Yes          2      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             3400                  0          95               360
1            14583                  0         436               360
2             2500               3796         120               360
3             3988                  0          50               240
4             3859                  0          96               360

   Credit_History Property_Area
0               1         Rural
1               1     Semiurban
2               1         Urban
3               1         Urban
4               1     Semiurban
  Target
0      N
1      Y
2      Y
3      Y
4      Y

In [23]:
X_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,384.000000,384.000000,384.000000,384.000000,384.000000
mean,5149.718750,1572.077917,141.471354,342.093750,0.856771
std,5304.921764,2624.223119,75.176271,65.846658,0.350763
min,150.000000,0.000000,9.000000,36.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000
50%,3893.500000,1188.500000,128.000000,360.000000,1.000000
75%,5819.500000,2259.250000,164.250000,360.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000

In [24]:
X_train_temp=X_train.iloc[:,6:11]
X_test_temp=X_test.iloc[:,6:11]

from sklearn.linear_model import LogisticRegression
log=LogisticRegression(penalty='l2',C=.01)
log.fit(X_train_temp,Y_train)

score=log.score(X_test_temp,Y_test)
print('Accuracy is {}%'.format(score*100))

Accuracy is 61.458333333333336%

C:\Users\Personal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Personal\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [25]:
from sklearn.preprocessing import scale

X_train_scale=scale(X_train_temp, axis=0, with_mean=True, with_std=True, copy=True)
X_test_scale=scale(X_test_temp,axis=0,with_mean=True,with_std=True,copy=True)

from sklearn.linear_model import LogisticRegression
log=LogisticRegression(penalty='l2',C=.01)
log.fit(X_train_scale,Y_train)

score=log.score(X_test_scale,Y_test)
print('Accuracy is {}'.format(score*100))

Accuracy is 75.0

C:\Users\Personal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Personal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  after removing the cwd from sys.path.
C:\Users\Personal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Personal\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
# Importing LabelEncoder and initializing it
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
# Iterating over all the common columns in train and test
for col in X_test.columns.values:
    # Encoding only categorical variables
    if X_test[col].dtypes=='object':
        # Using whole data to form an exhaustive list of levels
        data=X_train[col].append(X_test[col])
        le.fit(data.values)
        X_train[col]=le.transform(X_train[col])
        X_test[col]=le.transform(X_test[col])

        
X_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,13,1,0,0,0,0,4950,0.0,125,360,1,2
1,193,1,1,1,0,0,2882,1843.0,123,480,1,1
2,461,1,1,0,0,0,3000,3416.0,56,180,1,1
3,191,1,1,2,0,0,9703,0.0,112,360,1,2
4,300,1,1,0,0,0,2333,2417.0,136,360,1,2

In [28]:
X_train_scale=scale(X_train)
X_test_scale=scale(X_test)

from sklearn.linear_model import LogisticRegression
log =LogisticRegression(penalty="l2",C=.01)
log.fit(X_train_scale,Y_train)
score=log.score(X_test_scale,Y_test)
print('Accuracy is {0}'.format(score*100))

Accuracy is 75.0

C:\Users\Personal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by the scale function.
  """Entry point for launching an IPython kernel.
C:\Users\Personal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by the scale function.

C:\Users\Personal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Personal\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)